<div [formGroup]="formGroup">
    <mat-form-field class="full-width">
      <input  matInput
              type="number"
              [min]="minimo"
              [max]="maximo"
              [step]="step"
              [placeholder]="title"
              [name]="controlName"
              [formControlName]="controlName">
      <mat-error *ngIf="validation.hasErrorValidar(formControl, 'required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="validation.hasErrorValidar(formControl, 'min')">
        Campo precisa ter no mínimo o valor {{validation.lengthValidar(formControl, 'min')}}
      </mat-error>
      <mat-error *ngIf="validation.hasErrorValidar(formControl, 'max')">
        Campo pode ter no máximo o valor {{validation.lengthValidar(formControl, 'max')}}
      </mat-error>
    </mat-form-field>
  </div>
  
